body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url(../Pagina/azul.jpg);
    background-size: cover;
}
.caja{
    height: 480px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    border-radius: 12px;
}